<%- include('../partials/header.ejs') %>

<h3> <%= user %>'s States Visited</h3>

<% states.forEach((state) => { %>
	<p>
		<a href="/states/<%= state.id %>"><%= state.state %></a>
	</p>
    
<% }) %>







<!-- <p>stateVisited.state</p>
<p>stateVisited.capital</p>
<p>stateVisited.population</p>
<p>stateVisited.</p> -->



<%- include('../partials/footer.ejs') %>






