<%- include('../partials/header.ejs') %>

	<%- include('./nav.ejs') %>

	<h3>States Index</h3>

	<ul>
		<% states.forEach((state) => { %>
			<li>
				<a href="/states/<%= state.id %>"><%= state.state %></a>

				<!-- Need to add loop to populate state data from future stateData.js file -->
			</li>
		<%})%>
	</ul>









<%- include('../partials/footer.ejs') %>