<%- include('../partials/header.ejs') %>

	<%- include('./nav.ejs') %>

	<h3>States Show</h3>


	<h3> <%= state.state %> <h3>

		<p> <%= state.stateBird %>
		<p> <%= state.population %>
		<p> <%= state.topAttractions %>
		<img src="<%= state.birdImage %>"/>
		
		<% if(username) {%>
			<fielset>
				<label for="visited">I have been here</label>
				<input id="visited" type="checkbox" name="visited"/>
			</fieldset>
		<%}%>


		<% if(state.visited == true) {%>
			<form method="POST" action="/comments/<%= state.id %>">
				<textarea name='text' placeholder="share your experience"></textarea>
				<br />
				<button>Share</button>
			</form>
		<%}%>


	<ul>
    	<% state.comments.forEach((comment) => { %>
      		<li>
        	<%= comment.text %>
        	<br />
        	 <small>(<%= comment.posted.toLocaleString() %>) by (<%= comment.user.username %>) </small>
      		</li>
    	<% }) %>
 	</ul>









<%- include('../partials/footer.ejs') %>
