<%- include('../partials/header.ejs') %>

	<%- include('./nav.ejs') %>

	<h3>States Show</h3>


	<h3> <%= state.state %> <h3>

		<p> <%= state.stateBird %>
		<p>  <%= state.population %>
		<p>  <%= state.topAttractions %>
		<img class='birds' src="<%= state.birdImage %>"/>
		
		<% if(user) {%>

			<form method="POST" action="/users/<%= userId %>/<%= state.id %>?_method=PUT" value= "value">

				<label for="states">I have been here</label>
				<button>I have been here</button>
			</form>
		<%}%>



			<form method="POST" action="/comments/<%= state.id %>">
				<textarea name='text' placeholder="share your experience"></textarea>
				<br />
				<button>Share</button>
			</form>
		


	<ul>
    	<% state.comments.forEach((comment) => { %>
      		<li>
        	<%= comment.text %>
        	<br />
        	 <small>(<%= comment.posted.toLocaleString() %>) by (<%= comment.user.user %>) </small>
				 <small>


				 	<% if(userId == comment.user.id) { %>

		        	<form method="POST" action="/comments/<%= state.id %>/<%= comment.id %>?_method=DELETE">
		            	<button>Delete This Comment</button>
		        	</form>
		        	<%}%>

		    	</small>
      		</li>
    	<% }) %>
 	</ul>









<%- include('../partials/footer.ejs') %>
