<%- include('../partials/header.ejs') %>

	<%- include('./nav.ejs') %>

	<h3>States Show</h3>


	<h3> <%= state.state %> <h3>

		<p> <%= state.stateBird %>
		<p> <%= state.population %>
		<p> <%= state.topAttractions %>
		<img src="<%= state.birdImage %>"/>



<%- include('../partials/footer.ejs') %>